nav {
	width: 100%;
	background-color: red;
}
#headbar {
	padding: 10px;
	width: 50%;
	margin: auto;
}
#headbar a {
	text-decoration: none;
	color: white;
}
#container {
	display: flex;
	padding: 10px;
	width: 90%;
	justify-content: center;
	margin: auto;
}
#quiz {
	width: 50%;
}
@media screen and (max-width: 1200px) {
	#headbar {
		width: 60%;
	}
	#quiz {
		width: 60%;
	}
}
@media screen and (max-width: 992px) {
	#headbar {
		width: 70%;
	}
	#quiz {
		width: 70%;
	}
}
@media screen and (max-width: 768px) {
	#headbar {
		width: 80%;
	}
	#quiz {
		width: 80%;
	}
}
@media screen and (max-width: 576px) {
	#headbar {
		width: 90%;
	}
	#quiz {
		width: 90%;
	}
}
#options {
	display: flex;
	flex-direction: column;
}
#error {
	color: red;
	visibility: hidden;
}
#result-output {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
#result-output img {
	height: 235px;
}
table {
	width: 100%;
}
.specFocus {
	background-color: black;
	color: white;
	border-left: 10px solid red;
	border-right: 10px solid red;
}
tr::hover {
	background-color: grey;
}
th {
	margin-top: 5px;
	justify-items: center;
}
table div {
	text-align: right;
}
td {
	width: 50%;
}
table progress {
	height: 15px;
	width: 100%;
	background-color: transparent;
	color: red;
	-webkit-appearance: none;
}
table progress::-moz-progress-bar {
	background-color: red;
}
table progress::-webkit-progress-value {
	background: red;
}
table progress::-webkit-progress-bar {
	background: transparent;
}
#progress {
	width: 100%;
	color: red;
	-webkit-appearance: none;
}
#progress::-moz-progress-bar {
	background-color: red;
}
#progress::-webkit-progress-value {
	background: red;
}
#nav-buttons {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}